* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #7f7f7f;
    margin-top: 40px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    text-align: center;
}

.card {
    width: 25%;
    display: inline;
    justify-content: center;
    align-items: center;
}
.card img {
    width: 200px;
    height: 400px;
    object-fit: cover;
}

.description {
    width: 90%;
    color: #454545;

}

.price {
    margin: 10px 0 ;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn {
    margin: 10px;
    padding: 10px 40px;
    background-color: #ff4646;
    color: #fff;
    border: 0;
    border-radius: 20px;
}

.btn:hover {
    background-color: #ff0c0b;
    cursor: pointer;
}


.inputs {
    padding: 20px;
}

.input {
    margin: 20px 10px;
    padding: 10px;
    width: 100%;
}
.submit {
    background-color: red;
    padding: 10px 20px;
    display: block;
    width: 100%;
}

.hide {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.hide_card {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}